body {
  /* background: #333;
  color: #fff;
  font-size: 22pt; */
  text-align: center;
  /* font-family: "Teko";
  letter-spacing: 0.15em; */
}


/* body * {
  -webkit-user-select: none;
} */

.wrap {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  /* box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.25); */
}

.window {
  overflow: hidden;
  position: relative;
  background: black;
   border: solid 2px black;
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0;
  left: -450px;
}

.slide {
  height: 300px;
  width: 500px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style:solid ;
  border-width: 0px 2px 0px 0px;
  border-color: black;

}

.slide#b1 {
  background: #556270;
}

.slide#b2 {
  background: #4ECDC4;
}

.slide#b3 {
  background: #9CE462;
}

.slide#b4 {
  background: #FF6B6B;
}

.slide#b5 {
  background: #C44D33;
}

.btn {
   border: solid 2px black;
   background-color: transparent;
   padding: 5px;
}

.btn:hover {
  color: #f500a0;
}

.btn#prev, .btn#next {
  cursor: pointer;
  position: absolute;
  bottom: -80px;
  font-size: 14pt;
  font-family: source code pro;
}

.btn#prev  {
  left: 0;
}

.btn#next {
  right: 0;
}

.transition {
  transition: 0.7s;
}

footer {
  margin-top: 150px;
}