body {
  /* background: #333;
  color: #fff;
  font-size: 22pt; */
  text-align: center;
  /* font-family: "Teko";
  letter-spacing: 0.15em; */
}

/* body * {
  -webkit-user-select: none;
} */

h1 {
  font-size: 2em;
  padding: 0;
  padding-bottom: 40px;
}

.wrap {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  /* box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.25); */
}

.window {
  overflow: hidden;
  position: relative;
  background: white;
  border: solid 2px black;
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0;
  left: -450px;
}

.slide {
  height: 300px;
  width: 500px;
  cursor: pointer;
  float: left;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: black;
}

.slide#b1 {
  background: white;
}

/* .slide#b2 {
  height: 300px;
  width: 500px;

  opacity: 1;
}

.slide#b2::after {
  content: "";
  height: 300px;
  width: 500px;
  background-image: url(pics/content/design_1/3_back.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #f500a0;

}

.slide#b2:hover {
  opacity: 0.4;
background-blend-mode: lighten;
} */

.slide#b2 {
  height: 300px;
  width: 500px;
  /* !!! webp !!!!! */
  background-image: url(pics/content/design_1/3_back.png);
  background-size: cover;
  background-position: center;
}

.inside {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  cursor: grab;
  transition: 0.7s ease;
}

.inside:hover {
  opacity: 1;
  background: hsla(0, 0%, 0%, 0.9);
  color: white;
}

.inside a {
  transition: 0.5s ease;
  transform: translateX(0%);
}

.inside a:hover {
  letter-spacing: 5px;
}

.slide#b3 {
  background: white;
}

.slide#b4 {
  background: white;
}

.slide#b5 {
  background: white;
}

.btn {
  border: solid 2px black;
  background-color: transparent;
  padding: 5px;
}

.btn:hover {
  color: #f500a0;
}

.btn#prev,
.btn#next {
  cursor: pointer;
  position: absolute;
  bottom: -80px;
  font-size: 14pt;
  font-family: source code pro;
}

.btn#prev {
  left: 0;
}

.btn#next {
  right: 0;
}

.transition {
  transition: 0.7s;
}

footer {
  margin-top: 150px;
}
